.profile {
  color: navy;
  background-color: lavender;
  padding-bottom: 20px;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 500;
}

.avatar {
  width: 100px;
  border-radius: 50%;
  border: navy solid 3px;
}

.name {
  font-size: 24px;
  font-weight: 700;
}

.stats {
  justify-content: center;
}

.stats li {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  margin-bottom: 0;
}

.label {
  font-weight: 500;
  padding: 5px;
}
