.statistics {
  text-align: center;
  width: 100%;
  background-color: aliceblue;
  margin-bottom: 10px;
  border-radius: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  /* border: navy solid 2px; */
}

.list {
  display: flex;
  /* justify-content: space-between; */
  /* border: navy solid 2px; */
}

.item {
  /* display: flex;
  flex-direction: column; */
  flex-grow: 1;
  /* border: navy solid 2px; */
  color: navy;
  font-weight: 500;
}

.title {
  margin: 0;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: navy;
  /* border: navy solid 2px; */
}
